@font-face {
    font-family: 'Rift';
    src: url('Rift-Bold.eot');
    src: url('Rift-Bold.eot?#iefix') format('embedded-opentype'),
        url('Rift-Bold.woff2') format('woff2'),
        url('Rift-Bold.woff') format('woff'),
        url('Rift-Bold.ttf') format('truetype'),
        url('Rift-Bold.svg#Rift-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rift Demi';
    src: url('Rift-Demi.eot');
    src: url('Rift-Demi.eot?#iefix') format('embedded-opentype'),
        url('Rift-Demi.woff2') format('woff2'),
        url('Rift-Demi.woff') format('woff'),
        url('Rift-Demi.ttf') format('truetype'),
        url('Rift-Demi.svg#Rift-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rift';
    src: url('Rift-Light.eot');
    src: url('Rift-Light.eot?#iefix') format('embedded-opentype'),
        url('Rift-Light.woff2') format('woff2'),
        url('Rift-Light.woff') format('woff'),
        url('Rift-Light.ttf') format('truetype'),
        url('Rift-Light.svg#Rift-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rift';
    src: url('Rift-Regular.eot');
    src: url('Rift-Regular.eot?#iefix') format('embedded-opentype'),
        url('Rift-Regular.woff2') format('woff2'),
        url('Rift-Regular.woff') format('woff'),
        url('Rift-Regular.ttf') format('truetype'),
        url('Rift-Regular.svg#Rift-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rift';
    src: url('Rift-Medium.eot');
    src: url('Rift-Medium.eot?#iefix') format('embedded-opentype'),
        url('Rift-Medium.woff2') format('woff2'),
        url('Rift-Medium.woff') format('woff'),
        url('Rift-Medium.ttf') format('truetype'),
        url('Rift-Medium.svg#Rift-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Heaters';
    src: url('Heaters.eot');
    src: url('Heaters.eot?#iefix') format('embedded-opentype'),
        url('Heaters.woff2') format('woff2'),
        url('Heaters.woff') format('woff'),
        url('Heaters.ttf') format('truetype'),
        url('Heaters.svg#Heaters') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}