.player__banner{
	text-align: center;
}
.player__banner {
	padding-block: 50px;
}
.player__banner h1 {
	color: #f99f17;
	font-weight: bold;
}
.divTable {
	display: table;
	width: 100%;
	border-spacing: 0 10px;
}
.headRow {
	display: table-row;
	width: 100%;	
}
.divCell {
	display: table-cell;
	padding: 5px 10px;
	background: #ffebeb;
	white-space: nowrap; 
}
.divRow {
	display: table-row;
}
.headRow .divCell {
	background: #141414;
	color: #fff;
	white-space: nowrap;
}
.divRow .divCell:first-child {
	background: transparent;
	width: 110px;
	min-width: 110px;
	padding: 0;
}
.rank-count {
	display: block;
	color: #fff;
	font-weight: bold;
/*	border-radius: 150px 0 0 150px;*/
	border-radius: 10px 0 0 10px;
	background: #ff0100;
	padding: 16px 25px;
}
.college__cell {
	border-radius: 0 10px 10px 0;
}
.headRow .divCell:first-child{
	border-radius: 10px 0 0 10px;    
	padding-left: 22px;
}
.headRow .divCell:last-child{
	border-radius: 0 10px 10px 0;
}
.headRow .divCell {
    padding-block: 16px;
}
.logo-college {
	height: 54px;
	width: auto;
	max-width: inherit;
}
.player__name {
	display: flex;
	align-items: center;
}
.player__name img {
	border-radius: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
	background: #fff;
}
.player__name figure {
	width: 70px;
	margin-left: -55px;
	border: 2px solid #000;
	border-radius: 50%;
	background: #fff;
	margin-block: -10px; 
}

.player__name .player_name {
	padding-left: 10px;
}
.player__rank-table{
	padding-top: 40px;
	padding-inline: 15px;
}
.player__rank-responsive {
	overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
}
.player-founder:not(.active){
	display: none;

}
.player-founder{
	position: relative;
}
.player__name .player_name a {
	 color: #c46423;
}
.player__name .player_name a:hover{
    color: #141414;
}
.player-founder .divCell {
	white-space: normal;
	position: absolute;
	background: #ededed !important;
	padding: 30px !important;
	margin-inline: auto;
	width: 100% !important;
	left: 0;
	right: 0;
	border-radius: 10px;
	box-shadow: 0 10px 18px rgb(0 0 0 / 23%);
}
.player-founder p {
	margin: 0;
}
/*.cross-popup .bar1,
.cross-popup .bar2,
.cross-popup .bar3 {
	width: 16px;
	height: 2px;
	background-color: #fff;
	margin: 3px 0;
	transition: 0.4s;
	display: inline-block;
}
.cross-popup .bar1 {
	transform: translate(11px, 0) rotate(-45deg);
}
.cross-popup .bar3 {
	transform: translate(-5px, 0) rotate(45deg);
}*/
.cross-popup {
	position: absolute;
	top: 0;
	right: 0;
/*	width: 35px;
	height: 35px;
	background: #000;
	border-radius: 10px;*/
	cursor: pointer;
}
.cross-popup svg {
    height: 30px;
}
.player-banner {
	min-height: 200px !important;
}
.player-founder .divCell::before {
	position: absolute;
	left: 51px;
	top: -10px;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid #fef3e3;
	content: "";
}
.divCell.player_school {
	white-space: normal;
	line-height: 1;
 	vertical-align: middle;
}

.share-media__inner {
    display: flex;
    justify-content: end;
    padding-block: 45px 0;
    padding-right: 8px;
		align-items: center;
}

.share-media__inner > div {
	margin-bottom: -30px;
}

.share-text {
	font-size: 18px;
	font-weight: 600;
	font-family: 'Open Sans';
	padding-right: 10px;
}

.share-media__inner > div img {
	opacity: 0.5;
}
